body {
  background: green;
}

.code {
  font-size: 16px;
  color: #333;
}
.happy_img{ 
  height: 400px;
  width: 400px; 
  background: url("./happy.jpg") no-repeat center;
}
.logo_img{
  height: 200px;
  width: 200px;
  background: url('./logo.png')  no-repeat center;
}